html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer {
    background-color: black;
}

#torunamentDIV {
    background-color: lightseagreen;
}

#playersDIV {
    background-color: dodgerblue;
}

p{
    background-color:black;
    list-style:none;
}
